body {
    background-color:white;
    color:rgb(77, 76, 76);
    overflow-y: auto;
    margin: 0;
    overflow-x: hidden;
 }

 a {
  color: #008CBA;
 }

#agreeModal {
    display: flex;
  }

.disclaimer {
    background-color: #f0f0f0;
    border: 7px solid #008CBA;
    padding: 20px;
    margin: 20px auto;
    width: 70%;
    text-align: left;
    overflow-y: auto;
    max-height: 100%;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;

  }
  
  .disclaimer h2 {
    text-align: center;
  }

  #disclaimer2, #disclaimer3, #disclaimer4 {
    display: none;
  }
    
  #buttonWrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .agreeButton, .cancelButton {
    width: 150px;
    height: 35px;
    background-color: #008CBA;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.5);
  }
  
  .agreeButton:hover {
    background-color: #004d99;
  }
  
  .cancelButton {
    background-color: #cc0000;
  }
  
  .cancelButton:hover {
    background-color: #990000;
  }

#title-box {
  width: 100%;
  background-color: #008CBA;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 10px;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.5);
  margin-bottom: 2.5vh;
}

.logo-container {
  background-color: #008CBA;  /* Change to your desired background color */
  width: fit-content;  /* Change to your desired width */
  height: fit-content;  /* Change to your desired height */
  margin-left: 10px;
}

.logo-container img {
  max-width: 184px;
  max-height: 100%;
}

 #API-title {
    width: 100%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    display: block;
    font-family: sans-serif;
    font-weight: 600;
    color: whitesmoke;
}

.instructions-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1vh 0;
    margin: 1vh 0;

}

#Instructions {
    background-color: white;
    border: 3px solid rgb(51, 156, 197);
    border-radius: 5px;
    align-items: center;
    width: fit-content;
    max-width: 90vw;
    padding: 1vh;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

#input-container {
    display: none;
    gap: 1vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 1vh 1vw;
    margin: 1vh auto;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    background-color: white;
    border: 3px solid rgb(51, 156, 197);
    border-radius: 5px;
    padding: 2vw;
    width: fit-content;
    max-width: 90vw;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

#q1, #q3 {
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#q3 {
  display: none;
}

#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Add a gap between buttons */
    margin: 1vh auto;
    padding: 1vh 0;
}

#second-button-container {
    display: none;
    margin: 1vh auto;
    padding: 1vh 0;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Add a gap between buttons */
}

#checklistContainer {
    display: none;
}

#rationaleCont {
  display: none;
  width: 100%;
  flex-direction: column;
  gap: 1vh;
  margin: 1vh auto;
  padding: 1vh 1vw;
}

.message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;       
}

#messages {
    background-color: white;
    border: 3px solid rgb(51, 156, 197);
    border-radius: 5px;
    padding: 2vw;
    width: fit-content;
    max-width: 90vw;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

#results-container {
    display: none;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-column-gap: 2vw;
    grid-row-gap: 2vh;
    justify-content: space-evenly;
    width: fit-content;
    max-width: 95vw;
    margin: 1vh auto;
    padding: 1vh 0;
    justify-items: center;
}

#results-container h2 {
    font-size: 16px;
}

#result1Box, #result2Box {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  max-width: 100%;
}

#result1, #result2 {
    overflow-wrap: break-word;
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 1fr 0.85fr;
    gap: 1vh;
    border: 3px solid rgb(51, 156, 197);
    border-radius: 5px;
    padding: 1.5vw;
    margin-top: 1vh;
    width: fit-content;
    min-width: 90%;
    min-height: 20px;
    max-width: 100%;
    box-sizing: border-box;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.5);
    
}

#panelModal {
  display: none;
}

#panel-box {
  display: flex;
  background-color: #f0f0f0;
  border: 7px solid rgb(51, 156, 197);
  border-radius: 5px;
  padding: 2vh;
  margin: auto;
  width: fit-content;
  height: fit-content;
  overflow-y: auto;
  gap: 1vh;
  max-width: 90vw;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.5);
}

.panel {
  display: none;
  text-align: left;
  flex-direction: column;
  width: 100%;
}

.bold-key {
    font-weight: bold;
}

.test-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    gap: 1vw;
    font-weight: 100;
    margin: 0 10%;
}

#result2 p {
    margin: 0;
}

a:hover {
    color: blue;
}

.cart-button, .info-button {
  border-radius: 4px;
  border: 3px;
  color: white;
  padding: 5px;
  font-weight: bold;
  width: fit-content;
  height: fit-content;
  background-color: #0887b1;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);
}

.info-button {
  background-color: #115870;
}

/* #notes-container {
    margin-top: 3vh;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#notes {
    background-color: white;
    border: 1px solid black;
    padding: 3vw;   
    font-weight: 600;
    width: 80%;
} */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.75); /* Black w/ opacity */
    overflow: auto;
  }
  
  .modal-content {
    display: flex;           /* Make this a flex container */
    flex-direction: column;  /* Stack the children vertically */
    flex-grow: 1;
    background-color: #fefefe;
    padding: 0px;
    border: 5px solid #888;
    border-radius: 5px;
    max-width: 90%;
    min-height: 450px;
    height: fit-content;
    max-height: 95vh;
    resize: both;
    box-sizing: border-box;
    overflow: auto;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.5);
  }

.modal-draggable {
    height: 30px;
    font-size: 12px;
    color: rgb(131, 123, 123);
    background-color: #1b1919;
    text-align: center;
    cursor: pointer;
}

.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

#checklistTitle {
    width: 100%;
    align-items: center;
}

.close {
    color: #aaa;
    float: right;
    border: black 2px;
    width: fit-content;
    height: fit-content;
  }

#modal-close {
    color: red;
    cursor: pointer;
    font-size: 40px;
    font-weight: 800;
}
  
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.checklistbuttons {
    padding: 1vh;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 2%;
} 

.checklist-button {
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.5);
}

.first-box{
    padding: 0 0 5px 15px;
    border: 1px solid #000;
    box-sizing: border-box;
    height: fit-content;
}

.first-box-content {
    padding: 1vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1vh;
    flex: 1;
    font-size: 14px;
}

.box{
    border: 1px solid #000;
    resize: vertical;
    overflow: auto;
    box-sizing: border-box;
    display: flex;
    padding: 1% 0 1% 1%;
}

h2, h3 {
    text-align: center;
    margin:0;
}
h1 {
    text-align: center;
    flex-grow: 1;
    margin: 0px;
    font-family: serif;
}

.box-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: auto;
    padding: auto;
    flex: 1;
}

.box-content > div {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    gap: 10px;
}


.query-box{
    padding: 1vh;
    border: 2px solid #000;
    gap: 10px;
    min-height: 60px;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items:stretch;
    overflow-y: auto;
    width: 100%;
    box-sizing: border-box;
    padding: 1% 4% 1% 1%;
    max-height: fit-content;
}

.query-box h2 {
    width: fit-content;
}
#queryInput {
    display: flex;
    min-width: 100px;
    overflow-y: auto;
    overflow-wrap: break-word;
    resize: none;
    flex-grow: 1;
}

#query-buttons {
    display: flex;
    flex-direction: column;
    width:fit-content;
    gap: 1vh;
}


.validModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 50%;
    top: 50%;
    width: fit-content; /* Full width */
    height: fit-content; /* Full height */
    transform: translate(-50%, -50%);
    background-color: whitesmoke; /* Fallback color */
    color: black;
    border: 7px solid #008CBA;
    text-align: center;
    font-size: 24px;
    border: 6px solid 0887b1;
    border-radius: 6px;
    padding: 3vh;
}

/* Loading screen */

.loading {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    align-items: center;
    justify-content: center;
  }
  
  .spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  

/* button styling */
.myButton {
    background-color: #008CBA; /* Set a background color */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Set the text color */
    padding: 14px 20px; /* Add some padding */
    margin: 0 0; /* Add some margin */
    border: none; /* Remove border */
    cursor: pointer; /* Change cursor on hover */
    border-radius: 4px; /* Rounded corners */
    font-size: 16px; /* Set a font size */
    font-weight: bold;
    transition: background-color 0.3s ease; /* Add transition */
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.5);
  }
  
  .myButton:hover, .cart-button:hover, .info-button:hover {
    background-color: #007B9A; /* Change background color on hover */
  }
  
  .myButton:active, .cart-button:active, .info-button:active, .agreeButton:active, .cancelButton:active {
    background-color: #005C6C; /* Change background color on click */
    box-shadow: 0 5px #002D33; /* Add box shadow */
    transform: translateY(4px); /* Move button 4px down */
  }
  
  /* dealing with larger screens */
  body {
    font-size: 16px; /* Default font size for smaller screens */
  }

  .disclaimer {
    font-size: 14px;
  }
  
@media (max-width: 406px) {
  h1 {
    font-size: 24px;
  }
}

  @media (min-width: 768px) {
    body, #results-container h2, .disclaimer {
      font-size: 18px; /* Increased font size for screens 768px and wider */
    }
    .box, .drop-down, #queryInput, .checklistbuttons button, .query-box div button {
        font-size: 14px;
    }
  }
  
  @media (min-width: 1024px) {
    body, #results-container h2, .disclaimer {
      font-size: 20px; /* Even larger font size for screens 1024px and wider */
    }
    .box, .drop-down, #queryInput, .checklistbuttons button, .query-box div button {
        font-size: 16px;
    }
  }

  @media (min-width: 1200px) {
    #results-container {
      grid-template-columns: auto auto;
      grid-template-rows: auto;
    }
    #result1, #result2 {
      grid-template-columns: 3.5fr 1fr 0.9fr;
    }
  }

  @media (min-width: 1350px) {
    body, #results-container h2, .disclaimer {
      font-size: 24px; /* Even larger font size for screens 1350px and wider */
    }
    .box, .drop-down, #queryInput, .checklistbuttons button, .query-box div button {
        font-size: 18px;
    }
  }
  