body {
    background-color:rgb(139, 182, 184);
    color:black;
    overflow-y: auto;
 }

 #API-title {
    padding-top: 1vh;
    padding-bottom: 1vh;
    color:black;
    font-weight: 800;
    display: block;
}

.instructions-container {
    background-color: white;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    margin: 1vh auto 1vh auto;
    width: fit-content;
    display: flex;
    padding:2%;
    height: fit-content;
}

#Instructions {
    align-items: center;
    justify-content: center;
}

#input-container {
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 10px;
}


#query {
    background-color: white;
    border: 1px solid blue;
    padding: 2vw;
    width: fit-content;
    max-width: 800px;
}


#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Add a gap between buttons */
}

#second-button-container {
    display: none;
    margin-top: 2vh;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Add a gap between buttons */
}

#checklistContainer {
    display: none;
}

.message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;       
}


#messages {
    background-color: white;
    border: 1px solid green;
    padding: 3vw;
    width: fit-content;
}

.results-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-column-gap: 2vw;
    justify-content: space-evenly;
    width: fit-content;
    max-width: 95vw;
    margin: 3vh auto 2.5vh auto;
}

#result1, #result2 {
    overflow-wrap: break-word;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1vh;
    border: 1px solid red;
    padding: 1.5vw;
    margin-top: 1vh;
    width: fit-content;
    min-width: 25vw;
}

.panel {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.bold-key {
    font-weight: bold;
    margin: 0;
}

.indented-item {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    padding-left: 15px;
    font-weight: 100;
}

#result2 p {
    margin: 0;
}

a:hover {
    color: blue;
}

#notes-container {
    margin-top: 3vh;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#notes {
    background-color: white;
    border: 1px solid black;
    padding: 3vw;   
    font-weight: 600;
    width: 80%;

}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    overflow: auto;
  }
  
  .modal-content {
    display: flex;           /* Make this a flex container */
    flex-direction: column;  /* Stack the children vertically */
    flex-grow: 1;
    background-color: #fefefe;
    padding: 0px;
    border: 1px solid #888;
    max-width: 90%;
    min-height: 450px;
    height: fit-content;
    max-height: 95vh;
    resize: both;
    box-sizing: border-box;
    overflow: auto;
  }

.modal-draggable {
    height: 20px;
    font-size: 12px;
    color: rgb(131, 123, 123);
    background-color: #1b1919;
    text-align: center;
    cursor: pointer;
}

.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

#checklistTitle {
    width: 100%;
    align-items: center;
}

.close {
    color: #aaa;
    float: right;
    border: black 2px;
    width: fit-content;
    height: fit-content;
  }

#modal-close {
    color: red;
    cursor: pointer;
    font-size: 40px;
    font-weight: 800;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.checklistbuttons {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 2%;
} 

.first-box{
    padding: 0 0 5px 15px;
    border: 1px solid #000;
    box-sizing: border-box;
    height: fit-content;
}

.first-box-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: auto;
    flex: 1;
    font-size: 14px;
}

.box{
    border: 1px solid #000;
    resize: vertical;
    overflow: auto;
    box-sizing: border-box;
    display: flex;
    padding: 1% 0 1% 1%;
}

h2, h3 {
    text-align: center;
    margin:0;
}
h1 {
    text-align: center;
    flex-grow: 1;
    margin: 0px;
}

.box-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: auto;
    padding: auto;
    flex: 1;
}

.box-content > div {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    gap: 10px;
}


.query-box{
    padding-top: auto;
    border: 1px solid #000;
    gap: 10px;
    min-height: 50px;
    resize: vertical;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items:stretch;
    overflow-y: auto;
    width: 100%;
    box-sizing: border-box;
    padding: 1% 4% 1% 1%;
    max-height: 80px;
}

.query-box h2 {
    width: fit-content;
}
#queryInput {
    display: flex;
    min-width: 200px;
    overflow-y: auto;
    overflow-wrap: break-word;
    resize: none;
    flex-grow: 1;
}

.query-box > div {
    display: flex;
    flex-direction: column;
    width:fit-content;
    gap: 2%;
}


.validModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 50%;
    top: 50%;
    width: fit-content; /* Full width */
    height: fit-content; /* Full height */
    transform: translate(-50%, -50%);
    background-color: rgb(0,0,0); /* Fallback color */
    color: white;
    text-align: center;
    font-size: 24px;
    border: 1px solid #888;
}

/* Loading screen */

.loading {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    align-items: center;
    justify-content: center;
  }
  
  .spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  

/* button styling */
.myButton {
    background-color: #008CBA; /* Set a background color */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Set the text color */
    padding: 14px 20px; /* Add some padding */
    margin: 0 0; /* Add some margin */
    border: none; /* Remove border */
    cursor: pointer; /* Change cursor on hover */
    border-radius: 4px; /* Rounded corners */
    font-size: 16px; /* Set a font size */
    font-weight: bold;
    transition: background-color 0.3s ease; /* Add transition */
  }
  
  .myButton:hover {
    background-color: #007B9A; /* Change background color on hover */
  }
  
  .myButton:active {
    background-color: #005C6C; /* Change background color on click */
    box-shadow: 0 5px #002D33; /* Add box shadow */
    transform: translateY(4px); /* Move button 4px down */
  }
  

  /* dealing with larger screens */
  body {
    font-size: 16px; /* Default font size for smaller screens */
  }
  
  @media (min-width: 768px) {
    body {
      font-size: 18px; /* Increased font size for screens 768px and wider */
    }
    .box, .drop-down, #queryInput, .checklistbuttons button, .query-box div button {
        font-size: 14px;
    }
  }
  
  @media (min-width: 1024px) {
    body {
      font-size: 20px; /* Even larger font size for screens 1024px and wider */
    }
    .box, .drop-down, #queryInput, .checklistbuttons button, .query-box div button {
        font-size: 16px;
    }
  }

  @media (min-width: 1350px) {
    body {
      font-size: 24px; /* Even larger font size for screens 1024px and wider */
    }
    .box, .drop-down, #queryInput, .checklistbuttons button, .query-box div button {
        font-size: 18px;
    }
  }
  