<!DOCTYPE html>
<html>
<head>
    <title>Input Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>

<body>
    <div id="agreeModal" class="modal">
        <div id="disclaimer1" class="disclaimer" >
            <h2>Disclaimer</h2>
            <p>Our Lab Test Selector is designed to generate potentially helpful lab tests from the Walk in Wellness Lab menu based on the medical history and concerns you provide. Please consider the following:</p>
                <ol><li value="1">The Lab Test Selector tool is intended as an aid and its suggestions may not be consistently accurate. Always consult with a qualified healthcare provider for the most accurate and appropriate lab tests for your specific health situation.</li></ol>
            <div id="buttonWrapper">
                <button id="nextButton1">I Agree</button>
                <button class="cancelButton">Cancel</button>
            </div>
        </div>

        <div id="disclaimer2" class="disclaimer" >
            <h2>Disclaimer</h2>
            <p>Our Lab Test Selector is designed to generate potentially helpful lab tests from the Walk in Wellness Lab menu based on the medical history and concerns you provide. Please consider the following:</p>
                <ol><li value="2">You acknowledge and assume any risks associated with the use of this application.</li></ol>
            <div id="buttonWrapper">
                <button id="nextButton2">I Agree</button>
                <button class="cancelButton">Cancel</button>
            </div>
        </div>

        <div id="disclaimer3" class="disclaimer" >
            <h2>Disclaimer</h2>
            <p>Our Lab Test Selector is designed to generate potentially helpful lab tests from the Walk in Wellness Lab menu based on the medical history and concerns you provide. Please consider the following:</p>
                <ol><li value="3">The results of the lab tests will not be interpreted by this tool. The interpretation of lab results should be done by a qualified healthcare provider, taking into account your unique medical situation.</li></ol>
            <div id="buttonWrapper">
                <button id="agreeButton">I Agree</button>
                <button class="cancelButton">Cancel</button>
            </div>
        </div>
  </div>


    <h1 id="API-title">Walk in Wellness Lab Test Selector</h1>

    <div class="instructions-container">
        <div id="Instructions">Please click on "Add health data" then fill out and submit the form to get assistance with lab test selection.</div>
    </div>  

    <div id="button-container">
        <input type="button" class="myButton" id="refresh" value="Start Over">
        <input type="button" class="myButton" id="addInfo" value="Add health data">
    </div>

    <div id="input-container">
        <form id="form">
            <div id="query" name="query" rows="2"></div>
        </form>
    </div>

    <div id="myModal" class="modal">
        <div id="modal-content-id" class="modal-content">
            <div class="modal-draggable">Click to drag Checklist if using mouse</div>
        </div>
    </div>

    <div class="results-container">
        <h2>Helpful lab tests:</h2>
        <h2>Panels including these tests:</h2>
        <div id="result1"></div>
        <div id="result2"></div>
    </div>

    <h2>Lab Test Rationale: </h2>
    <div class="message-container">
        <div id="messages">Add health data first to get helpful lab tests...</div>
    </div>

    <div id="second-button-container">
        <input type="button" class="myButton" id="refresh2" value="Start Over">
        <input type="button" class="myButton" id="addInfo2" value="Add health data">
    </div>

    <div id="notes-container">
        <div id="notes"></div>
    </div>

    <div id="validModal" class="validModal">
        <p id="modal-valid-text"></p>
    </div>

    <div id="loading" class="loading">
        <div class="spinner"></div>
    </div>
      

    <script src="/static/main.js"></script>

</body>
</html>